body{
    background-color: #000000;
    /* background-image: url("https://images.unsplash.com/photo-1468657988500-aca2be09f4c6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"); */
    
}


.header{
     background-color: #000000; 
}
img{
    width: 40vw;
    height: 60vh;
    


}
h1{
    color: aliceblue;
}

.navbar{
    display: flex;
    flex-direction: row;
    
    /* justify-content: space-around; */
    
}
.navbar h1{
    margin-left: 40px;
    font-size: 100px;
    margin-bottom: 40px;
}
.navbar ul li{
    padding: 10px;
    color: #F6B400;
    list-style-type: none;
    display: inline;
    
    
    
}
.navbar ul{
    /* border: 1px solid white; */
    padding-right: 200px;
    margin-left: 20%;
    margin-top: 20px;
   
}
.left h1{
    margin-left: 40px;
}

#hire{
    padding: 20px;
    margin-top: 300px;
    border: 1px solid #F6B400;
    margin-left: -500px;
    background-color: #F6B400;
}

    

.left{
    display: flex;
    
}
.image{
    
    /* border: 1px solid black; */
    width: 40vw;
    /* height: 60vh; */
    margin-left: 300px;
    /* margin-right: 300px; */
    padding-top: 150px;
    padding-bottom: 150px;
    padding-right: 100px;
    padding-left: 50px;
    background: linear-gradient(100deg,#000000 50%,#F6B400 50% );
}
.about{
    /* display: flex; */
}

.title{
    /* margin-top: 50px; */
    font-size: 30px;
    font-style: italic;
    color: #F6B400;
    font-weight: bold;
    /* text-decoration: underline; */
    margin-left: 50px;
    
}
.yvonne{
    /* border: 1px solid white; */
    width: 40%;
    margin-right: 400px;
    margin-top: 50px;
    font-size: 20px;
    text-decoration: none;
    font-style: normal;
    float: right;
}

.title img{
    width: 300px;
    height: 300px;
}
#cv{
    padding: 20px;
    margin-top: 10px;
    width: 50%;
    border: 1px solid #F6B400;
    margin-left: -10px;
    background-color: #F6B400;
}
.card2{
    /* border: 1px solid white; */
    width: 70%;
    margin-top: 500px;
   
    margin-left: 100px;
    margin-top: 50px;
    
    color: #F6B400;
    display: flex; 
}
.card{
    margin-left: 100px;
    background-color: #000000;
}
.card h4{
    font-weight: bolder;
}
.projects{
    display: flex;

}
.head h1{
    /* margin-left: 550px; */
    text-align: center;
    color:#F6B400;
    margin-top: 50px;
}
.projects img{
    width: 150px;
    height: 150px;

}

.project{
    /* border: 1px solid black ; */
    border-radius: 30px;
    background-color:#F6B400;
    margin-top: 100px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
    padding: 30px;

}
.container{
    width: 300px;
  background-color: #ddd;
}
.skill{
    text-align: center;
    margin-top: 30px;
    text-decoration:underline;
}
.skill h1{
    color: #F6B400;
}
.HTML{
    width: 95%;
    background-color: #F6B400;
}
.CSS{
    width: 90%;
    background-color: #F6B400;
}
.JAVASCRIPT{
    width: 20%;
    background-color: #F6B400;
}
.main{
    margin-left: 100px;
    margin-bottom: 100px;
}
.main p{
    color: #F6B400;
}
.repo{
    border: 1px solid #000000;
    width: 30%;
    background-color: transparent;
    border-radius: 20px;
}
.contact{
    margin-left: 100px;
    color: #F6B400;
    
}
.rose{
    /* margin-top: 20px; */
}
#book{
    margin-top: 20px;
    background-color: #F6B400;
}
.map{
    float: right;
    margin-top: -250px;
    margin-right: 100px;
    width: 40%;
    
    
}
.footer{
   
    margin-top: 200px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
}
.end img{
    width: 5vw;
    height: 8vh;
    padding: 20px;
}
.services{
    display: flex;
    color: #F6B400;
}
.service{
    border: 1px solid #F6B400;
    margin-left: 100px;
    margin-right: 50px;
    margin-bottom: 100px;
    text-align: center;
}
.gee{
    margin-bottom: 50px;
    text-align: center;
    color: #F6B400;
    font-size: 40px;
    font-weight: bolder;

}