.header{
    background-color: whitesmoke;
}

.navbar{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    
}
ul{
    list-style-type: none;
    justify-content: space-around;
}

#hire{
    padding: 20px;
    margin-top: 200px;
    margin-left: -350px;
    background-color: #F6B400;
}
.left{
    display: flex;
}
.image{
    
    /* border: 1px solid black; */
    margin-left: 300px;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-right: 200px;
    padding-left: 50px;
    background: linear-gradient(100deg,whitesmoke 50%,#F6B400 50% );
}
